
.app {
  background-color: #0000AC;
}

.Game {
  background-color: #0000AC;
  padding: 20px;
  // text-align: center;
}

.buttonGroup {
  display: flex; /* Flexbox layout */
  // justify-content: center; /* Center the group horizontally */
  gap: 10px; /* Add gap between buttons */
  margin-bottom: 20px; /* Add some space between buttons and player */
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
}

button img {
  width: 128px; /* Adjust the size of the images */
  height: 128px;
}

.player, .computer, .bricks {
  // text-align: center;
  margin-top: 20px;
}

.player {
  margin-top: 0; /* Ensure player section is close to buttonGroup */
  // text-align: center;
}
