
body {
  display: flex;
  background-color: #0000AC;
  width: 800px;
 
}

.app {
  
}



.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.Game {
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  // text-align: center;
}

.buttonGroup {
  display: flex; /* Flexbox layout */
  // justify-content: center; /* Center the group horizontally */
  gap: 10px; /* Add gap between buttons */
  margin-bottom: 20px; /* Add some space between buttons and player */
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
}

button img {
  width: 128px; /* Adjust the size of the images */
  height: 128px;
}

.choice:hover {
  opacity: 0.2;
}

.player, .computer, .bricks {
  // text-align: center;
  margin-top: 20px;
  
}

// .playersContainer {
//   display: flex;
// }

.playergroup {
  align-content: center;
  width: fit-content;
}

.player {
  margin-top: 0; /* Ensure player section is close to buttonGroup */
  width: 100px;
  margin: auto;
  display: block;
  
 
}

.computer {
  margin-top: 0; /* Ensure player section is close to buttonGroup */
  width: 100px;
    margin: auto;
    display: block;
  
}

.footer {
  background-color: black;
  height: 80px;
  color: chocolate;
  font-weight: 20pt;
}