@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

html, 
body {
  font-family: 'Montserrat', sans-serif;
}
.Game {
  background-color: #0000AC;
}
//! IF YOU WANT TO CHANGE THE SIZE DO IT PER INDIVIDUAL BUTTON 
//# .buttonGroup {

// }
.rock {
  outline: none;
  background: none;
  box-shadow: none;
  border: none;
}
.scissors {
  outline: none;
  background: none;
  box-shadow: none;
  border: none;
}
.paper {
  outline: none;
  background: none;
  box-shadow: none;
  border: none;
}
